// colors
$primary-colour:#F67604;
$secondary-colour:#383838;
$proj-prev-colour:#eceaea;
$black:#000000;
$gray:#808080;
$orange:#F6AC00;
$white: #FFFFFF;
$nav-colour: #34495e;
$nav-hover-colour:#718daa;

//fonts
$lato:'Lato';
$sans-serif:'sans-serif';

//padding
$primary-pad:20px;


